.main_photographers {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2%;
  width: 100%;

  //version desktop
  @media (min-width: 769px) {
    width: 33%;
  }

  > figure {
    margin-bottom: 0;
    cursor: pointer;
    &:focus {
      outline: 1px solid grey;
    }

    > figcaption {
      > h2 {
        @include h2-propriete;
      }
    }
  }
}


.infoPhotographer {
  padding: 0;

  &_from {
    @include infoPhotographer-from;
  }

  &_tagline {
    @include infoPhotographer-tagline;
  }

  &_price {
    @include infoPhotographer-price;
  }
}
