/*Button pour passer au contenu */
.scroll-hide {
  display: none;
  // version desktop
  @media (min-width: 769px) {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 5;
    top: 5%;
    text-decoration: none;

    width: 182px;
    height: 30px;
    background: #DB8876;
    border-radius: 5px;
    border: none;

    font-family: $fontDM;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    align-items: center;

    color: #000000;

    &:focus {
      outline: 1px solid grey;
    }
  }
}

/*Header de la page index.html */
.header_photographers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 8%;

  // version desktop
  @media (min-width: 769px) {
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 8%;
  }

  // mettre un order
  > #aImg {
    order: 1;
    // version desktop
    @media (min-width: 769px) {
      margin-top: 2%;
    }
  }

  > nav {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 84%;

    // version desktop
    @media (min-width: 769px) {
      order: 2;
      width: 48%;
    }
  }

  &_logo {
    height: 37.5px;
    // version desktop
    @media (min-width: 769px) {
      height: 50px;
    }
  }

  // Pour modifier les tags voir .spanTag dans le fichier _base.scss

  > h1 {
    //width: 306px;
    order: 2;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    height: 47px;

    font-family: $fontDM;
    font-style: normal;
    font-weight: normal;

    /* identical to box height */
    color: $bgc-red-primary;

    // version desktop
    @media (min-width: 769px) {
      margin-top: 1%;

      font-size: 36px;
      line-height: 47px;
      order: 3;
    }

  }
}


/* Photo du profil du photographe dans le header du main de la page photographer-page.html */
.photographer_img_page_header {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10%;

  // version desktop
  @media (min-width: 769px) {
    height: 200px;
    width: 200px;
    image-rendering: auto;
  }
}

/* Header du main de la page photographer-page.html */
.header_page_photograph {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .section_photo_profil {
    //version desktop
    @media (min-width: 769px) {
      width: 25%;
    }
  }

  .header_photograph_article {

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 70%;
      //version desktop
      @media (min-width: 769px) {
        width: 33%;
      }

      > h2 {
        @include h2-propriete;
        //version desktop
        @media (min-width: 769px) {
          font-size: 64px;
          line-height: 83px;
        }
      }

      &_from {
        @include infoPhotographer-from;
        //version desktop
        @media (min-width: 769px) {
          font-size: 24px;
          line-height: 31px;
        }
      }

      &_tagline {
        @include infoPhotographer-tagline;
        //version desktop
        @media (min-width: 769px) {
          font-size: 18px;
          line-height: 23px;
        }
      }

      > h2, &_from, &_tagline {
        text-align: left;
        margin-top: 1%;
        margin-bottom: 1%;
      }
    }
  }
}

/*Alignement de la div contenant les tags */
.divTags {
  display: flex;
}