#photographer-page {
  > main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 335px;
    @media (min-width: 769px) {
      width: 86%;
      //margin: 0 auto;
    }
  }
}

.header-logo-profil {
  width: 335px;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-top: 3%;
  @media (min-width: 769px) {
    width: 81%;
    //margin: 0 auto;
  }
}

// header du main
.header_photograph {
  width: 100%;

  //version desktop
  @media (min-width: 769px) {
    width: 94%;
    height: 313px;
    background: #fafafa;
    border-radius: 5px;
    margin: auto;
  }

  &_article {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    align-items: center;

    //version desktop
    @media (min-width: 769px) {
      height: 313px;
      justify-content: space-around;
    }

    &_info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      //margin-left: 5%;

      > h2 {
        @include h2-propriete;
        //version desktop
        @media (min-width: 769px) {
          font-size: 64px;
          line-height: 83px;
        }
      }

      &_from {
        @include infoPhotographer-from;
        //version desktop
        @media (min-width: 769px) {
          font-size: 24px;
          line-height: 31px;
        }
      }

      &_tagline {
        @include infoPhotographer-tagline;
        //version desktop
        @media (min-width: 769px) {
          font-size: 18px;
          line-height: 23px;
        }
      }

      > h2, &_from, &_tagline {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
      }

      &_tags {
        display: flex;
        //flex-wrap: wrap;
      }
    }
  }
}

.media_figcaption {
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fontDM;
  font-style: normal;
  color: #911C1C;

  > h2 {
    display: flex;
    justify-content: flex-start;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

  }

  > p {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;


  }

  //version desktop
  @media (min-width: 769px) {
    width: 100%;
  }
}

.footer_like_page {
  display: none;

  //version desktop
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 3%;
    width: 26%;
    height: 9%;
    background-color: #db8876;
    font-size: large;
    max-width: 375px;
    > p {
      font-family: $fontDM;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
    }
  }
}


/* Affichage desktop du Tri par */
#trierPar {
  display: none;
  @media (min-width: 769px) {
    display: flex;
    width: 94%;
    align-items: center;
    margin: 2% auto;

    > label {
      width: 74px;
      height: 23px;

      font-family: $fontDM;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      margin-right: 2%;
    }
  }
}

/* Tri par -> select avec option */
#chooseBy {
  cursor: pointer;
  //display: inline-block;
  width: 170px;
  height: 56px;

  position: relative;
  display: flex;
  overflow: hidden;
  text-align: center;

  font-family: $fontDM;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;
  background: #911C1C;
  border-radius: 5px;
  border: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


  > option {
    color: #fff;
    background-color: #911C1C;
    border: none;
    border-bottom: 1px white solid;
    width: 20px;

    font-family: $fontDM;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }

  &::after {
    position: absolute;
    content: "\f106";
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 900;
    //margin-left: 15%;
    color: white;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #911C1C;
    transition: .25s all ease;
    pointer-events: none;
  }

  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    //color: $select-color;
    //width: $select-width;
    //height: $select-height;
  }

  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-color: $select-background;
    padding: 8px 15px;
    //@include transition(all 0.2s ease-in);
    &:after {
      content: "";
      width: 0;
      height: 0;
      border: 7px solid transparent;
      //border-color: $select-color transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 10px;
    }

    &:hover {
      //background-color: darken($select-background, 2);
    }

    &:active, &.active {
      //background-color: darken($select-background, 5);
      &:after {
        top: 9px;
        //border-color: transparent transparent $select-color transparent;
      }
    }
  }

  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    //background-color: darken($select-background, 5);
    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      //border-top: 1px solid darken($select-background, 10);
      //@include transition(all 0.15s ease-in);
      &:hover {
        //color: $select-background;
        //background: $select-color;
      }

      &[rel="hide"] {
        display: none;
      }
    }
  }
}

//Photo et vidéo photographer-page.html
#sectionPhotograph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //width: 94%;
  //max-width: 1240px;
  //margin: 0 auto;

  //version desktop
  @media (min-width: 769px) {
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
  }

  > article {
    //text-align: center;


    //version desktop
    @media (min-width: 769px) {
      width: 33%;
    }

    > figure {
      margin-left: 0;
      margin-right: 0;

      > img {
        width: 100%;
        max-width: 335px;
        height: 190px;
        object-fit: cover;
        //image-rendering: auto;
        background: #C4C4C4;
        border-radius: 5px;

        //version desktop
        @media (min-width: 769px) {
          width: 89%;
          height: 300px;
        }
      }

      > video {
        width: 100%;
        max-width: 335px;
        height: 190px;
        border-radius: 5px;
        object-fit: cover;

        //version desktop
        @media (min-width: 769px) {
          width: 89%;
          height: 300px;
          background: #C4C4C4;
        }
      }

      > figcaption {
        @media (min-width: 769px) {
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}