#photographer-page {
  > main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 335px;
    @media (min-width: 769px) {
      width: 86%;
    }
  }
}

.header-logo-profil {
  width: 335px;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-top: 3%;
  @media (min-width: 769px) {
    width: 81%;
  }
}

/* Nom et nombre de like situé en dessous du media */
.media_figcaption {
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fontDM;
  font-style: normal;
  color: #911C1C;

  > h2 {
    display: flex;
    justify-content: flex-start;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

  }

  > p {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    cursor: pointer;


  }

  //version desktop
  @media (min-width: 769px) {
    width: 100%;
  }
}

/* Nombre de likes total et prix en euro par jour situé en bas de page droite */
.footer_like_page {
  display: none;

  //version desktop
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 3%;
    width: 26%;
    height: 9%;
    background-color: #db8876;
    font-size: large;
    max-width: 375px;
    > p {
      font-family: $fontDM;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
    }
  }
}


/* Affichage desktop du Tri par */
#trierPar {
  display: none;
  @media (min-width: 769px) {
    display: flex;
    width: 94%;
    align-items: center;
    margin: 2% auto;

    > label {
      width: 74px;
      height: 23px;

      font-family: $fontDM;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
      margin-right: 2%;
    }
  }
}

/* Tri par -> select avec option */
#chooseBy {
  cursor: pointer;
  width: 170px;
  height: 56px;

  position: relative;
  display: flex;
  overflow: hidden;
  text-align: center;

  font-family: $fontDM;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;
  background: #911C1C;
  border-radius: 5px;
  border: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


  > option {
    color: #fff;
    background-color: #911C1C;
    border: none;
    border-bottom: 1px white solid;
    width: 20px;

    font-family: $fontDM;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }
}

//Photo et vidéo photographer-page.html
#sectionPhotograph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  //version desktop
  @media (min-width: 769px) {
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
  }

  > figure {
    margin-left: 0;
    margin-right: 0;

    //version desktop
    @media (min-width: 769px) {
      width: 33%;
    }

    > img {
      width: 100%;
      max-width: 335px;
      height: 190px;
      object-fit: cover;
      background: #C4C4C4;
      border-radius: 5px;
      cursor: pointer;

      //version desktop
      @media (min-width: 769px) {
        width: 89%;
        height: 300px;
      }
    }

    > video {
      width: 100%;
      max-width: 335px;
      height: 190px;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;

      //version desktop
      @media (min-width: 769px) {
        width: 89%;
        height: 300px;
        background: #C4C4C4;
      }
    }

    > figcaption {
      @media (min-width: 769px) {
        width: 80%;
        margin: auto;
      }
    }
  }
}