/* Section bouton contact moi */
.section_btn {
  //version desktop
  @media (min-width: 769px) {
    width: 30%;
  }
}
/* button contact-me */
#contact-me {
  display: flex;
  width: 170px;
  height: 35px;
  position: fixed;
  bottom: 5%;
  left: 30%;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background: #911c1c;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  z-index: 8;

  @media (min-width: 426px) {
    left: 39%;
  }
  //version desktop
  @media (min-width: 769px) {
    position: relative;
    left: 0;
    bottom: 13%;

    height: 69px;
    font-size: 20px;
    line-height: 26px;

    &:hover {
      background-color: #DB8876;
      color: #000000;
    }
  }
}

// formulaire Contact

.contain-modal-body {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 196, 196, 0.4);
  z-index: 2;

  //version desktop
  @media (min-width: 769px) {

  }

}


.content-modal-body {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 820px;
  overflow: auto;
  border-radius: 5px;
  margin: 0 auto;

  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  background-color: #DB8876;

  //version desktop
  @media (min-width: 769px) {
    width: 65%;;
    top: 1%;
    height: 96%;
    font-size: 36px;
    line-height: 47px;
  }


  > .modal-body {
    margin: 1% 6% 0 6%;

    @media (min-width: 426px) {
      margin: auto;
      width: 50%;
    }
  }
}

#contact-modal-h1 {
  position: relative;
  margin-bottom: 3%;

  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;

  /* identical to box height */

  color: #000000;
  //version desktop
  @media (min-width: 769px) {
    left: 0;
    margin-top: 2%;
    font-size: 64px;
    line-height: 83px;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formData {
  display: flex;
  flex-direction: column;

  > label {

    position: relative;

    font-family: $fontDM;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    color: #312E2E;
    mix-blend-mode: normal;

    @media (min-width: 769px) {
      left: 0;
      font-size: 36px;
      line-height: 47px;

    }
  }

  > input {
    position: relative;
    min-width: 315px;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: $fontDM;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    @media (min-width: 769px) {
      width: 100%;
      height: 68px;
      left: 0;
    }
  }

  > textarea {
    position: relative;
    min-width: 315px;
    width: 100%;
    height: 184px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: $fontDM;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    @media (min-width: 769px) {
      width: 100%;
      height: 170px;
      left: 0;
    }
  }
}

#btnPostData {

  width: 170px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  margin: 10% 25%;

  font-family: $fontDM;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: #FFFFFF;
  background: #911C1C;
  border: none;

  //version desktop
  @media (min-width: 769px) {
    height: 69px;
    margin: 10% 0;
  }
}

.close {
  color: white;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 2;

  &:hover {
    opacity: 0.7;
  }

  @media screen and (min-width: 768px) {
    font-size: 2em;
    top: 2%;
    right: 5%;
  }
}

/* LightBox ------------------------------------------------------------- */
#overlay {
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  //display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > img, video {
    margin: 0;
    width: 78%;
    height: 248px;
    object-fit: cover;
    padding: 5%;
    @media screen and (min-width: 768px) {
      width: 80%;
      height: 80%;
      padding: 2%;
    }
  }
}

#nextButton {
  color: #901C1C;
  font-size: 2em;
  transition: opacity 0.8s;

  &:hover {
    opacity: 0.7;
  }

  @media screen and (min-width: 768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #901C1C;
  font-size: 2em;
  transition: opacity 0.8s;

  &:hover {
    opacity: 0.7;
  }

  @media screen and (min-width: 768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #901C1C;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 25%;
  right: 4%;

  &:hover {
    opacity: 0.7;
  }

  @media screen and (min-width: 768px) {
    font-size: 3em;
    right: 5%;
    top: 10%;
  }
}

#titleOverlay {
  position: absolute;
  left: 17%;
  bottom: 12%;

  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #911C1C;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 31px;

    left: 15%;
    bottom: 3%;
  }
  @media screen and (min-width: 1022px) {
    left: 12%;
  }
}