@mixin h2-propriete{
  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;

  /* identical to box height */
  text-align: center;
  color: $fc-light-red-primary;
  margin-bottom: 0;
}

@mixin infoPhotographer-from {
  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;

  /* identical to box height */
  text-align: center;
  color: #901C1C;

}
@mixin infoPhotographer-tagline {
  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;

  /* identical to box height */
  text-align: center;
  color: #525252;

 }
@mixin infoPhotographer-price {
  font-family: $fontDM;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;

  /* identical to box height */
  text-align: center;

  color: #757575;
}